*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.font-inter{
     font-family: "Inter", sans-serif;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.btn:hover{
    background-color: #02682c;
}

.btn-bgc{
    background-color: #ffffff00;
    border: 1px solid white;
}

.btn-bgc:hover{
    border: none;
}


/* Main Style */
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .logo img{
    width: 139px;
    height: 60px;
}

nav .menu{
    display: flex;
    gap: 32px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;

}

#banner{
    padding-top: 115px;
    background-image: url("./hero-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;

}

#banner .banner-content{
    max-width: 760px;
    margin: 0 auto 150px;
    text-align: center;
    height: 380px;
}

#banner .banner-content .banner-top{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    width: 240px;
    height: 35px;
    margin: 0 auto 24px;

}
#banner .banner-content .banner-top h4{
    color: #30b868;
    font-weight: 500;
    font-size: 16px;
}

.banner-top .square-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px; 
    height: 16px;
}
.outer-square{
    width: 14px;
    height: 14px;
    border-radius: 8px; 
    background-color: rgba(70, 145, 101, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-square{
    width: 10px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgba(70, 145, 101, 0.4);
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-square{
    width: 6px; 
    height: 6px;
    border-radius: 8px;
    background-color: rgba(70, 145, 101);
    display: flex;
}

.banner-content h1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    opacity: 0.9;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30b868;    
}
.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    opacity: 0.9;

}

.banner-content div{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-content div .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
