*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */
.font-inter{
     font-family: "Inter", sans-serif;
}

.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.btn:hover{
    background-color: #02682c;
}

.btn-bgc{
    background-color: #ffffff00;
    border: 1px solid white;
}

.btn-bgc:hover{
    border: none;
}

.container-width{
    width: 85%;
    max-width: 1160px;
}


/* Main Style */
nav{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .logo img{
    width: 139px;
    height: 60px;
}

nav .menu{
    display: flex;
    gap: 32px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;

}

#banner{
    padding-top: 115px;
    background-image: url("./hero-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;

}

#banner .banner-content{
    
    margin: 0 auto 150px;
    padding: 0 210px;
    text-align: center;
    height: 380px;
}

#banner .banner-content .banner-top{
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    width: 240px;
    height: 35px;
    margin: 0 auto 24px;

}
#banner .banner-content .banner-top h4{
    color: #30b868;
    font-weight: 500;
    font-size: 16px;
}

.banner-top .square-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px; 
    height: 16px;
}
.outer-square{
    width: 14px;
    height: 14px;
    border-radius: 8px; 
    background-color: rgba(70, 145, 101, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-square{
    width: 10px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgba(70, 145, 101, 0.4);
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-square{
    width: 6px; 
    height: 6px;
    border-radius: 8px;
    background-color: rgba(70, 145, 101);
    display: flex;
}

.banner-content h1{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    opacity: 0.9;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30b868;    
}
.banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
    opacity: 0.9;

}

.banner-content div{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-content div .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.notes-section{
    height: 380px;
    background-color: #FFFFFF;
}

.note-head{
    text-align: center;
    margin: 0 auto 37px;
    padding-top: 40px;
}

.note-head h2{
    color: #001931;
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 14px;
}
.note-head p{
    font-size: 14px;
    line-height: 17px;
    color: #627382;
}

.notes-section .notes-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 21px;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 256px;
}

.notes-container .notes{
    max-width: 275px;
    max-height: 255px;
    padding: 60px 10px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 6px 6px 16px rgb(216, 216, 216);
}

.notes img{
    background-color: #f95555;
    padding: 10px;
    border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 13px;
}
.notes h4{
    font-size: 19px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 13px;
}

.brain-section{
    background-color: #ffffff;
    padding-top: 140px;
}

.brain-section .brain-container{
    display: flex;
    align-items: center;
    gap: 51px;
    margin: 0 auto;
}

.brain-section-head{
    margin-bottom: 34px;
}

.brain-section-head h4{
    color: #30b868;
    line-height: 17px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 14px;

}
.brain-section-head h2{
    color: #001931;
    font-weight: 700;
    font-size: 41px;
    text-transform: capitalize;
    margin-bottom: 14px;

}
.brain-section-head p{
    color: #627382;
    font-size: 14px;
    line-height: 17px;
}

/* .brain-checklist{
    display: flex;
} */

.brain-checklist .checklist-item{
    display: flex;
    gap: 5px;
    margin-bottom: 16px;

}

.checklist-item h4{
    color: #001931;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}